<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="7.0.1" targetFramework="net461" />
  <package id="MvvmLightLibsStd10" version="5.4.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net461" />
  <package id="OpenTK" version="2.0.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="1.1.2349.61993" targetFramework="net461" />
  <package id="Plugin.Permissions" version="2.2.1" targetFramework="net461" />
  <package id="Rg.Plugins.Popup" version="1.1.4.158-pre" targetFramework="net461" />
  <package id="sameerIOTApps.Plugin.SecureStorage" version="2.5.0" targetFramework="net461" />
  <package id="sqlite-net-pcl" version="1.5.166-beta" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.8" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.8" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.8" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.8" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.8" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.8" targetFramework="net461" />
  <package id="WpfLightToolkit" version="1.0.1" targetFramework="net461" />
  <package id="Xam.Plugin.Connectivity" version="3.1.1" targetFramework="net461" />
  <package id="Xam.Plugin.Media" version="3.2.0.242-beta" targetFramework="net461" />
  <package id="Xamarin.Forms" version="3.1.0.469394-pre1" targetFramework="net461" />
  <package id="Xamarin.Forms.Platform.WPF" version="3.1.0.469394-pre1" targetFramework="net461" />
</packages>